<ul id="account">
<li><%= link_to "Admin your projects", admin_projects_url%></li>
<li><%= link_to "Admin your pictures", admin_pictures_url%></li>
<li><%= link_to "update your connections to websites", authentications_url%></li>
<li><%= link_to "edit your account", edit_user_registration_path%></li>
<li><%= link_to('Logout', destroy_user_session_path) %></li>
</ul>
