
<header class="show_user_header"><h2><%= render_crumbs %></h2></header>
</div>
<div style="clear:both"></div>
<div class="container pictures">
<% @user.pictures.each do |picture| %>
	<article class="index_picture">
	<div><%=link_to image_tag(picture.url_m) , picture.url_b , :rel=>'shadowbox[cat]'%><%=link_to image_tag(picture.url_m) , picture%></div>
	<header>by <%= link_to picture.user.name, picture.user%></header>
	</article>
<% end %>
</div>
<div style="clear:both"></div>
<div class="container project">
	<h2>Projects</h2>
	<% @user.projects.each do |project| %>

	<%= link_to project.title, [@user, project]%>
	<%end%>
</div>
<div style="clear:both"></div>
<div class="container">






