<h1>Users#show</h1>
<%= image_tag @user.avatar.url(:square) %>
<p>User: <%= @user.name %></p>
<%= image_tag @user.avatar.url(:small) %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:large) %>
<%= image_tag @user.avatar.url(:original) %>

