<% if !user_signed_in?%>
	<div class="functions">
		You want to post :
		<ul>
			<li>One picture a day?</li>
			<li>Once a week?</li>
			<li>Or once a month?</li>
		</ul>
	</div>
	<div class="signupDiv">
		<%= link_to('Sign up', new_user_registration_path)  %>
	</div>
</div>
<div class="container pictures">
<%end%>
<% @pictures.each do |picture| %>
	<article class="index_home">
  		<div><%= link_to (image_tag picture.url_m), picture.url_b, :rel =>'shadowbox[img]' %><%= link_to (image_tag picture.url_m), picture%></div>
		<header>by <%=picture.user.name%></header>
	</article>
<% end %>
</div>
<div class="container project">
<h2>Users: </h2>

<% @users.each do |user| %>
  <%= link_to user.name, user %>  
<% end %>
</div>
<div class="container project">
<h2>Projects</h2>

<% @projects.each do |project| %>
  <%= link_to project.title, user_project_path(project.user,project) %>  
<% end %>



