
<% @projects.each do |project| %>
	<article class="index_project">
  	<div><%= link_to image_tag(project.url_m), [project.user,project] %></div>
	<header><a href='<%= user_project_path(project.user,project)%>'><%= project.size %> - <%= project.title %></a></header>
	<span class="index_project_buttons">
   	<%= link_to 'Edit', edit_project_path(project) if (user_owns? project ) %>
    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete if (user_owns? project )%>
	<%= link_to('Archive', archive_project_path(project), :confirm => 'Are you sure?', :method => :put)if (user_owns? project)%>
	</span>
	</article>
<% end %>
<%= will_paginate @projects %>

