<% content_for :atom do%>
	<%= auto_discovery_link_tag(:atom, project_feed_url(@project.user,@project, :format=>"atom"))%>
<% end %>

<header class="show_project_header">
  <h2><%= render_crumbs %></h2>
  

  

  <span class="archive_project"><%= @project.numberOfPictures %> / <%= @project.size %>  <% if @project.closed %> ARCHIVED<%end%>
<% if !@project.description.blank? %><%= @project.description %> <%end%></span>
</header>
</div>
<div style="clear:both"></div>
<div class="container pictures">
	<% @pictures.each do |picture| %>
		<article class="index_project">
		<div><%=link_to image_tag(picture.url_m) , picture.url_b , :rel=>'shadowbox[cat]'%></div>
		<header>by <%= link_to picture.user.name, picture.user%></header>
	    <span class="index_picture_buttons"<%= link_to 'Edit', edit_picture_path(picture) if user_owns? picture%>
	    <%= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete if user_owns? picture %></span>
		</article>
<% end %>
<%= will_paginate @pictures %>

