<% content_for :atom do%>
	<%= auto_discovery_link_tag(:rss, project_feed_url(@project.user,@project))%>
<% end %>
<article class="show_project">
<header class="show_project_header">
  <%= @project.title %> - 
  <% if !@project.description.empty? %><%= @project.description %> - <%end%>

  <%= @project.numberOfPictures %> / <%= @project.size %> - By <%=link_to @project.user.name, @project.user%>

  <span class="archive_project"><% if @project.closed %> ARCHIVED<%end%></span>
</header>

<!--<div class="show_project_pictures">
<% @project.pictures.each do |picture|%>
	<div class="show_project_picture">
	<%= image_tag picture.url_z%><br/>
	<span class="show_project_picture_infos">
	<%= picture.title %>
	</span>
	</div>
<%end%>
</div>-->
</article>
</div>
<div class="container">
	<% @project.pictures.each do |picture| %>
		<article class="index_project">
		<div><%=link_to image_tag(picture.url_m) , picture.url_z , :rel=>'shadowbox[cat]'%></div>
		<header>by <%= link_to picture.user.name, picture.user%></header>
	    <span class="index_picture_buttons"<%= link_to 'Edit', edit_picture_path(picture) if user_owns? picture%>
	    <%= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete if user_owns? picture %></span>
		</article>
	<% end %>
</div>
<span class="show_project_buttons">
<%= link_to 'Back', user_projects_path(@user) %>
</span>
