<p id="notice"><%= notice %></p>

<p>
  <b>Size:</b>
  <%= @project.size %>
</p>

<p>
  <b>Endingdate:</b>
  <%= @project.endingDate %>
</p>

<p>
  <b>User:</b>
  <%= @project.user %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<% @project.pictures.each do |picture|%>
	<%= image_tag picture.url_s%>
<%end%>
<% if (user_owns_project? @project )%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%end%>
<%= link_to 'Back', user_projects_path %>
