<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    
	<% if @project%>
		<%= f.hidden_field :project_id%>
	<%else%>
		<%= f.label :project %><br />
		<%= f.collection_select(:project_id, @projects, :id, :title) %>
	<%end%>
  </div>
  <div class="field">
	<% @pictures.each do |pic| %>
		<label>
			<%= radio_button_tag "picture[flickr]" , pic.id,(@picture.flickr && (@picture.flickr['id'] == pic.id))%>
			<%= image_tag FlickRaw.url_s pic %>
			</label>

	<% end %>
	
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
