<%= form_for(@picture, :html => {:multipart => true}) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    
	<% if @project%>
		<%= f.hidden_field :project_id%>
	<%else%>
		<%= f.label :project, 'Project : ' %><%= f.collection_select(:project_id, @projects, :id, :title) %>
	<%end%>
  </div>
<div id="accordion">
	<h3><a href="#">Flickr:</a></h3>
<div class="field <%if @auth%>flickr<%end%>">
	<%if @auth%>
		<% if @pictures.blank?%>
			<%= link_to('Sorry, you didn\'t uploaded a picture to flickr during last period (month, week, two days)', authentications_path, :class=> 'alert') %>
		<%end%>
  	
	<% @pictures.each do |pic| %>
		<label>
			<%= radio_button_tag "picture[flickr]" , pic.id,(@picture.flickr && (@picture.flickr['id'] == pic.id))%>
			<%= image_tag FlickRaw.url_s pic %>
			</label>

	<% end %>
	
  
	<%else%>
	<%= link_to('Authenticate', authentications_path, :class=> 'alert') %>
	<%end%>
	</div>
	<h3><a href="#">Upload a File</a></h3>
  <div class="field">
	<%=f.file_field :image%>
  </div>
</div>
  <div class="actions">
    <%= f.submit 'Publish' %>
  </div>
<% end %>
