<!DOCTYPE html>
<html>
<head>
  <title>fifty two</title>
<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
  <%= yield :atom %>
  <script>
	$(document).ready(function(){

	    var options = {
	        resizeLgImages:     true,
	        displayNav:         false,
	        handleUnsupported:  'remove',
	        keysClose:          ['c', 27] // c or esc
	    };

	    Shadowbox.init(options);
		$('.hmenu li:not(:last)').after('<li>•</li>');
	});
  </script>
</head>
<body>
	<header class="main">
		<div id="title"><img src="/images/backlogo.png"/><span><%= '52'.upcase%></span></div>
		<div id="menubar">
		<nav class="hmenu <% if !user_signed_in? %>small<%end%>">
		  
		  
		  <%= render 'layouts/menu' %>
		  <%= render 'layouts/menu_auth' %>
		<%= render 'devise/menu/login_items' %>
		<%= render 'devise/menu/registration_items' %>
		</nav>
		</div>
	</header>
	<span class="alerts"><p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p></span>
	<div class="container main">
	<%= yield %>
	</div>
</body>
</html>
